*{
    margin:0px;
    padding:0px;
}
.container{
    display: flex;
    justify-content: center;
    align-content: center;

    
    
}
.grid-container{
    margin-top:  20px;
    width: 500px;
    height: 500px;
    
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    
}

.grid-cell{
    

    border: 0.7px solid black;
}
.active{
    background-color: black;
}



