@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

h1{
    font-size: 4rem;
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Amatic SC', cursive; 
}
body{
    background-color: rgb(110, 203, 228);
}

.wrapper{
    display: grid;
    grid-template-columns: 10vw, 90vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
    
}
.btns{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.grid-container{
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.27);
    -moz-box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.27);
    box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.27);
    display: grid;
    
    
}
.grid-cell{
    background-color: hsl(0, 0%, 100%)
}
.buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    gap: 70px;
    background-color: aliceblue;
    height: 100vh;
}
.gridsize{
    width: 120px;
    margin-block: 10px;

}
button{
    border-style: none;
    background-color: rgb(112, 112, 236);
    color: white;
    font-weight:bolder;
    font-size: larger;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.177);
    height: 60px;
    width : 120px;
    border-radius: 50px;
 
}
button:active{
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.181);
    background-color: rgb(254, 254, 254);
    color: rgb(112, 112, 236);
}

.toggle{
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.181);
    background-color: rgb(254, 254, 254);
    color: rgb(112, 112, 236);

}